.floating-background
  .floating-background__slider
    .floating-background__list
      .floating-background__item.floating-background__item--first
      .floating-background__item.floating-background__item--second
      .floating-background__item.floating-background__item--third
