section.port-history-section.section
  .section__body
    .site-container.port-history-section__container

      .section__breadcrumbs.breadcrumbs.breadcrumbs--light.breadcrumbs--pt
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a( href="/" ).breadcrumbs__link
              | Главная
          li.breadcrumbs__item
            a( href="#" ).breadcrumbs__link.breadcrumbs__link--active
              | История порта

      .port-history-section__content#scroll-trigger
        h1.section__title.section__title--not-border.port-history-section__title
          | История порта

        .port-history-section__story-line
          include story-line.pug

  include floating-background.pug
