.story-line
  ul.story-line__list

    li.story-line__item.story-line__item--first
      .story-line__col.story-line__big-col._outer-index-20
        .story-line__img.story-line__img--small
          +picture('story-line/image-1', 'фотография архива порта Певек')
      .story-line__col.story-line__small-col._outer-index-5
        .story-line__img.story-line__img--small
          +picture('story-line/image-2', 'фотография архива порта Певек')
      .story-line__absolute-numbers
        h1.section__title.section__title--white.section__title--big.section__title--not-border
          | История
        h1.section__title.section__title--white.section__title--big.section__title--not-border
          | порта
      .story-line__absolute-numbers._outer-index-25
        h1.section__title.section__title--white.section__title--big.section__title--not-border._hidden
          | История
        h1.section__title.section__title--white.section__title--big.section__title--not-border
          | порта
        .story-line__decore
          +icon-mono('arrows')

    li.story-line__item.story-line__item--second
      .story-line__col.story-line__small-col._outer-index-25
        .story-line__article.article-story
          .article-story__time
            .article-story__date
              | 20 апреля
            .article-story__year
              +icon-mono('1951')

          .article-story__story
            .article-story__main-text
              p
                | День рождения порта. Созданию порта способствовали открытие
                | богатых месторождений золота в Чаунском районе Чукотского
                | полуострова и их дальнейшая активная разработка.

            .article-story__secondary-text._outer-index
              p
                | Порт состоял из одной причальной линии, включающей четыре
                | свайных причала длиной 429,5 метра, при этом ещё не имел почти
                | никакой механизации, производственных и служебных помещений,
                | и по существу не отвечал своему назначению. Всего на тот момент
                | имелось 3 гусеничных крана, работы велись судовыми лебёдками и
                | вручную, в смене работало до 900 человек
                | (в основном — заключённые).

      .story-line__col.story-line__big-col.story-line__col--center
        .story-line__img.story-line__img--big._outer-index-25
          +picture('story-line/image-3', 'панорама порта Певек')

    li.story-line__item.story-line__item--third
      .story-line__col.story-line__small-col
        .story-line__article.article-story
          .article-story__time
            .article-story__date
              | 20 апреля
            .article-story__year
              +icon-mono('1957')

          .article-story__story
            .article-story__main-text
              p
                | Решением СМ СССР арктический порт Певек вошёл в состав
                | Дальневосточного морского пароходства ММФ.

            .article-story__secondary-text
              p
                | В том же году началось масштабное строительство
                | гидротехнических сооружений, производственных корпусов и жилья
                | для работников порта.

      .story-line__col.story-line__big-col.story-line__col--cascade.story-line__col--center
        .story-line__img.story-line__img--midd._outer-index-25
          +picture('story-line/image-7', 'фотография архива порта Певек')
        .story-line__img.story-line__img--midd
          +picture('story-line/image-8', 'фотография архива порта Певек')

    li.story-line__item.story-line__item--four
      .story-line__col.story-line__small-col
         .story-line__article.article-story
          .article-story__time
            .article-story__year.article-story__year--double
              +icon-mono('1960')

          .article-story__story
            .article-story__main-text
              p
                | Проходили реконструкция, расширение и дальнейшее развитие
                | порта. Здесь было впервые в Арктике построено 4 шпунтовых
                | причала с твердым бетонным покрытием.

            .article-story__secondary-text
              p
                | Общая длина причальной стенки достигла 499 метров. Действовало
                | 14 портальных кранов, построены стояночный и ремонтный гаражи.
                | Также были сданы в эксплуатацию четыре восьмиквартирных и один
                | шестнадцатиквартирный дома, расширено общежитие для работников
                | порта, велись работы по благоустройству территории порта.


      .story-line__col.story-line__big-col.story-line__col--center
        .story-line__img.story-line__img--big._outer-index-15
          +picture('story-line/image-6', 'панорама порта Певек')

    li.story-line__item.story-line__item--five
      .story-line__col.story-line__small-col
        .story-line__article.article-story
          .article-story__time
            .article-story__year.article-story__year--double
              +icon-mono('1970')

          .article-story__story
            .article-story__main-text
              p
                | Продолжались работы по реконструкции, переоснащению и
                | техническому перевооружению портового хозяйства.

            .article-story__secondary-text
              p
                | В порт прибыли суда усиленного ледового класса типа
                | «Норильск», предназначенные для перевозки грузов в районы
                | Арктики. Интенсивность грузовых работ на судах этого типа
                | в порту стала одной из самых высоких в отрасли. В это время
                | порт Певек стал базовым портом для переработки
                | перевалочных грузов Колымского направления.

      .story-line__col.story-line__big-col.story-line__col--cascade.story-line__col--center
        .story-line__img.story-line__img--midd
          +picture('story-line/image-4', 'фотография архива порта Певек')
        .story-line__img.story-line__img--midd._outer-index-25
              +picture('story-line/image-5', 'фотография архива порта Певек')

    li.story-line__item.story-line__item--six
      .story-line__col.story-line__small-col
        .story-line__article.article-story
          .article-story__time
            .article-story__year
              +icon-mono('1983')

          .article-story__story
            .article-story__main-text
              p
                | За достигнутые успехи в обеспечении перегрузки
                | народнохозяйственных грузов для развивающихся районов Колымы и
                | Чукотки морской торговый порт Певек был награждён орденом
                | «Знак Почёта».

      .story-line__col.story-line__big-col.story-line__col--center
        .story-line__img.story-line__img--big._outer-index-15
          +picture('story-line/image-9', 'панорама порта Певек')

    li.story-line__item.story-line__item--big
      .story-line__col.story-line__small-col
        .story-line__article.article-story
          .article-story__time
            .article-story__year.article-story__year--double.article-story__year--accent
              +icon-mono('1990')

          .article-story__story
            .article-story__main-text.article-story__main-text--dark
              p
                | В связи с ликвидацией основных предприятий горнодобывающей
                | промышленности Чаун-Чукотки произошло резкое падение
                | грузооборота.

            .article-story__secondary-text.article-story__secondary-text--dark
              p
                | В порт прибыли суда усиленного ледового класса типа
                | «Норильск», предназначенные для перевозки грузов в районы
                | Арктики. Интенсивность грузовых работ на судах этого типа
                | в порту стала одной из самых высоких в отрасли. В это время
                | порт Певек стал базовым портом для переработки
                | перевалочных грузов Колымского направления.

      .story-line__col.story-line__big-col.story-line__col--cascade.story-line__col--center
        .story-line__row
          .story-line__img.story-line__img--midd
            +picture('story-line/image-10', 'фотография архива порта Певек')

          .story-line__article.article-story.article-story--horizontal
            .article-story__time
              .article-story__year.article-story__year--accent
                +icon-mono('1997')

            .article-story__story
              .article-story__main-text.article-story__main-text--dark
                p
                  | Морской порт Певек был преобразован в открытое
                  | акционерное общество.
        .story-line__row
          .story-line__img.story-line__img--midd._outer-index-25
            +picture('story-line/image-11', 'фотография архива порта Певек')

          .story-line__article.article-story.article-story--horizontal
            .article-story__time
              .article-story__year.article-story__year--accent
                +icon-mono('2006')

            .article-story__story
              .article-story__main-text.article-story__main-text--dark
                p
                  | В состав порта вошёл грузовой участок на Мысе Шмидта.
