.history-time-range {
    position: relative;
    z-index: -1;
    width: 1.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 10.6rem 0 3.3rem 0;
    will-change: transform;
    transition: transform 1.3s ease !important;
  
    @include mq(xxl, max) {
      padding: 6.6rem 0 3.3rem 0;
    }
  
    &__body {
      flex-grow: 1;
      background-image: 
        linear-gradient(to top,
          rgba(83, 91, 110, 1) 0, rgba(83, 91, 110, 1) 1px,
          transparent 2px, transparent 6px,
          rgba(83, 91, 110, 0.9) 7px, rgba(83, 91, 110, 0.9) 8px,
          transparent 9px, transparent 13px,
          rgba(83, 91, 110, 0.8) 14px, rgba(83, 91, 110, 0.8) 15px,
          transparent 16px, transparent 20px,
          rgba(83, 91, 110, 0.7) 21px, rgba(83, 91, 110, 0.7) 22px,
          transparent 23px, transparent 27px,
          rgba(83, 91, 110, 0.6) 28px, rgba(83, 91, 110, 0.6) 29px,
          transparent 30px, transparent 34px,
          rgba(83, 91, 110, 0.5) 35px, rgba(83, 91, 110, 0.5) 36px,
          transparent 37px, transparent 41px,
          rgba(83, 91, 110, 0.4) 42px, rgba(83, 91, 110, 0.4) 43px,
          transparent 44px, transparent 48px,
          rgba(83, 91, 110, 0.3) 49px, rgba(83, 91, 110, 0.3) 50px,
          transparent 51px, transparent 55px,
          rgba(83, 91, 110, 0.2) 56px, rgba(83, 91, 110, 0.2) 57px,
          transparent 58px, transparent 62px,
          rgba(83, 91, 110, 0.1) 63px, rgba(83, 91, 110, 0.1) 64px,
          transparent 65px, transparent 69px,
          ),
        repeating-linear-gradient(
          to bottom,
        #535B6E 1px,
        #535B6E 1px,
          transparent 2px,
          transparent 6px,
          #535B6E 7px,
          #535B6E 8px),
        linear-gradient(to top,
          rgba(83, 91, 110, 0.1) 0px, rgba(83, 91, 110, 0.1) 1px,
          transparent 2px, transparent 6px,
          rgba(83, 91, 110, 0.2) 7px, rgba(83, 91, 110, 0.2) 8px,
          transparent 9px, transparent 13px,
          rgba(83, 91, 110, 0.3) 14px, rgba(83, 91, 110, 0.3) 15px,
          transparent 16px, transparent 20px,
          rgba(83, 91, 110, 0.4) 21px, rgba(83, 91, 110, 0.4) 22px,
          transparent 23px, transparent 27px,
          rgba(83, 91, 110, 0.5) 28px, rgba(83, 91, 110, 0.5) 29px,
          transparent 30px, transparent 34px,
          rgba(83, 91, 110, 0.6) 35px, rgba(83, 91, 110, 0.6) 36px,
          transparent 37px, transparent 41px,
          rgba(83, 91, 110, 0.7) 42px, rgba(83, 91, 110, 0.7) 43px,
          transparent 44px, transparent 48px,
          rgba(83, 91, 110, 0.8) 49px, rgba(83, 91, 110, 0.8) 50px,
          transparent 51px, transparent 55px,
          rgba(83, 91, 110, 0.9) 56px, rgba(83, 91, 110, 0.9) 57px,
          transparent 58px, transparent 62px,
          rgba(83, 91, 110, 1) 63px, rgba(83, 91, 110, 1) 65px
          );
          background-size: 100% 6.6rem, 100% calc(100% - 13.2rem), 100% 6.4rem;
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: top, 6.6rem ,bottom;
    }
  }
  