.history-slider {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--color-title);
  transition: background-color 0.5s ease-out;

  &--accent-background {
    background-color: var(--color-accent);

    ._transite-colors {
      color: var(--color-white);
    }
  }

  &--white-background {
    background-color: var(--color-white);

    ._transite-colors-accent {
      color: var(--color-accent);
    }
  }

  .scroll-content {
    will-change: transform;
    transition: transform 0.1s linear;
  }

  .scrollbar-track-y {
    @include mq(sm, max) {
      opacity: 0 !important;
    }
  }

  @include mq(lg, max) {
    transition: background-color 0.5s ease;

    @-moz-document url-prefix() {
      .scroll-content {
        -moz-transition: none;
      }
    }
  }

  &__breadcrumbs {
    padding: 19rem 0 2rem 0;

    @include mq(xl, max) {
      padding: 16rem 0 2rem 0;
    }

    @include mq(md, max) {
      padding: 9rem 0 0 0;
      margin-bottom: 2.2rem;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 10;
    flex: 1;
    width: 100%;
    will-change: transform;
    transform-box: border-box;
    transition: transform 1s ease !important;
  }

  &__heading {
    margin-bottom: 7.5rem;

    @include mq(xl, max) {
      margin-bottom: 5rem;
    }

    @include mq(lg, max) {
      margin-bottom: 3rem;
    }

    @include mq(sm, max) {
      margin-bottom: 2.8rem;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 10rem;
    will-change: transform;
    transition: transform 1.6s ease !important;

    @include mq(lg, max) {
      margin-bottom: 6rem;
    }

    @include mq(md, max) {
      padding-top: 0;
    }
  }

  &__title {
    position: relative;
    z-index: 70;
    font-weight: 700;
    font-size: 18rem;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 0;
    padding-bottom: 2rem;

    @include mq(xxl, max) {
      font-size: 15rem;
    }

    @include mq(xxl, max) {
      font-size: 12rem;
    }

    @include mq(xl, max) {
      font-size: 10rem;
    }

    @include mq(lg, max) {
      font-size: 7.2rem;
    }

    @include mq(sm, max) {
      font-size: 5rem;
    }
  }

  &__time-range {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: max-content;

    @include mq(lg, max) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__line {
    width: 100%;
    height: 3rem;
    margin-top: 3rem;
    border-style: solid;
    border-color: #d8d8d8;
    border-width: 0 0 0.1rem 0;
    background-color: var(--color-white);

    @include mq(md, max) {
      display: none;
    }
  }
}

._transite-colors,
._transite-colors-accent {
  transition: color 0.5s ease;
}
