.port-history-section {
  position: relative;
  z-index: 4;
  width: 100%;
  background-color: var(--color-title);
  transition: background-color 1s ease-in;

  &--accent-background {
    background-color: var(--color-accent);
  }

  &--card-background {
    background-color: var(--color-order);
  }

  &__body {
    display: flex;
    padding-top: 96px;
    padding-bottom: 37px;
  }

  &__content {
    min-height: 100vh;
    overflow: hidden;
  }

  &__title {
    font-weight: 700;
    font-size: 180px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--color-white);

    @include mq(xxl, max) {
      font-size: 150px;
    }

    @include mq(xxl, max) {
      font-size: 120px;
    }
  }

  &._set-dark-colors {
    h1 {
      color: var(--color-title);
    }
  }

}
