.scrolling-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100vw;

  &__list {
    height: 100%;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    will-change: transform;
    transition: transform 2s ease !important;
  }

  &__item {
    flex-grow: 1;
    flex-basis: calc(100% / 3);
    width: 100%;

    &--first,
    &--second,
    &--third {
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center;
    }

    &--first {
      flex-basis: 39.5%;
      background-image: url('../../assets/images/port-history/pattern-1.png');

      img {
        background-position: left top 60%;
        background-size: 85% auto;
      }

      @include mq(sm, max) {
        background-image: url('../../assets/images/port-history/pattern-1-mobile.png');
        background-position: top 125px left;
        background-size: 100% auto;
      }
    }

    &--second {
      flex-basis: 20%;
      background-image: url('../../assets/images/port-history/pattern-2.png');

      @include mq(sm, max) {
        background-image: url('../../assets/images/port-history/pattern-2-mobile.png');
        background-position: top right;
        background-size: auto;
      }
    }

    &--third {
      flex-basis: 40.5%;
      background-image: url('../../assets/images/port-history/pattern-3.png');
      
      @include mq(sm, max) {
        background-image: url('../../assets/images/port-history/pattern-3-mobile.png');
        background-position: center;
        background-size: auto;
      }
    }
  }
}


.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}