.story-line {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 3rem;

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: max-content;
    will-change: transform;
    transition: transform 1.3s ease !important;
  }

  .swiper-slide {
    height: auto;
    min-height: unset;
    opacity: 0;
    transition: opacity 2s ease;

    &-prev {
      opacity: 0;
    }

    &-active,
    &-next {
      opacity: 1;
    }
  }

  &__item {
    position: relative;
    z-index: 12;
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    padding: 3rem 0 3rem 13.5rem;

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      padding-left: 3.6rem;
      padding-right: 3.6rem;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 172px;
      z-index: 10;
      width: 38px;
      height: 1.5px;
      background-color: var(--color-white);

      @include mq(xl, max) {
        top: 140px;
      }
    }

    &--no-date {
      &::after {
        top: 150px;

        @include mq(xl, max) {
          top: 105px;
        }
      }

    }

    @include mq(xl, max) {
      align-items: center;
      padding: 3rem 0 3rem 6.5rem;
      gap: 32px;
    }

    @include mq(lg, max) {
      padding: 1rem 0 1rem 0;

      &::after {
        content: none;
      }
    }

    @include mq(sm, max) {
      flex-direction: column;
      align-items: start;
    }

    &--second,
    &--four,
    &--six,
    &--eight {
      @include mq(sm, max) {
        flex-direction: column-reverse;
      }
    }
  }

  &__col {
    height: 100%;

    &--center {
      display: flex;
      align-items: center;

      @include mq(sm, max) {
        align-items: unset;
      }
    }

    &--cascade {
      max-width: 62.2rem;
      flex-direction: column;
      justify-content: flex-start;
      gap: 4rem;

      .story-line__img {
        &:first-child {
          margin-right: auto;
        }
      }

      @include mq(xxl, max) {
        gap: 2rem;
      }

      @include mq(sm, max) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        .swiper-slide-prev {
          opacity: 1;
        }

        .story-line__img {
          flex-grow: 1;
          flex-shrink: 0;
        }
      }

      @include mq(xs, max) {
        gap: 0;
      }
    }
  }

  &__big-col {
    flex-basis: 50%;
    @include mq(sm, max) {
      flex-basis: auto;
    }
  }

  &__small-col {
    flex: 0 0 48.5rem;

    @include mq(custom, max, 1440) {
      flex: 0 0 42.5rem;
    }

    @include mq(lg, max) {
      flex: 0 0 34.5rem;
    }

    @include mq(md, max) {
      flex: 1 1 auto;
    }
  }

  &__row {
    display: flex;
    gap: 10rem;

    @include mq(sm, max) {
      gap: 60px;
    }
  }

  &__img {
    @include mq(sm, max) {
      overflow: hidden;
    }

    img {
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &--small {
      width: 38.7rem;
      height: 27.2rem;

      @include mq(xxl, max) {
        width: 27.6rem;
        height: 19.4rem;
      }

      @include mq(sm, max) {
        width: 235px;
        height: 166px;
      }
    }

    &--big {
      width: 62.1rem;
      height: 41.7rem;

      @include mq(xxl, max) {
        width: 44.3rem;
        height: 29.7rem;
      }

      @include mq(sm, max) {
        width: 100%;
        height: 350px;
      }

      @include mq(xs, max) {
        height: 300px;
      }

      @include mq(xxs, max) {
        height: 250px;
      }

      @include mq(custom, max, 370) {
        width: 320px;
        height: 215px;
      }
    }

    &--midd {
      width: 44.8rem;
      height: 31.6rem;

      @include mq(xxl, max) {

      }

      @include mq(sm, max) {
        width: 320px;
        height: 215px;
      }
    }
  }

  &__article {
    padding-top: 7.5rem;

    @include mq(xxl, max) {
      padding-top: 3rem;
    }

    @include mq(md, max) {
      height: 100%;
      padding-top: 0;
    }
  }

  &__time-range {
    position: absolute;
    left: 0;
    top: 160px;
    width: 16px;
    height: 100%;

    @include mq(lg, max) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;

    width: 100%;
    padding: 17px 0;
    padding-left: 45px;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    background-color: var(--color-white);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 55;

      width: 45px;
      height: 60px;

      background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    .swiper {
      width: 86px;
    }

    .swiper-slide {
      opacity: 1;
      width: max-content;
    }

    .swiper-slide-active {
      .icon {
        fill: var(--color-accent);
      }
    }

    @include mq(sm, max) {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }

  &__navigation-list {
    position: relative;
    display: flex;
  }

  &__navigation-item {
    .icon {
      width: 51px;
      height: 26px;
      fill: var(--color-title);
    }

    &--big{
      .icon {
        width: 86px;
      }
    }
  }
}

._set-dark-colors {
  .story-line__item::after {
    background-color: var(--color-dark);
  }
}
