.story-line {
  position: relative;
  width: 100%;

  &__item {
    position: relative;
    z-index: 12;
    display: flex;
    align-items: center;
    column-gap: 5rem;
    padding: 3rem 0 3rem 13.5rem;
    margin-bottom: 6rem;
    
    &:last-child {
      margin-bottom: 0;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      padding-left: 3.6rem;
      padding-right: 3.6rem;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 19.2rem;
      z-index: 10;
      width: 3.8rem;
      height: 0.2rem;
      background-color: var(--color-white);
    }

    &--no-dash {
      &::after {
        content: none;
      }

      .story-line__article {
        padding-top: 4.5rem;
    
        @include mq(xxl, max) {
          padding-top: 3rem;
        }
    
        @include mq(md, max) {
          height: 100%;
          padding-top: 0;
        }
      }
    }

    &--no-date {
      &::after {
        top: 15rem;

        @include mq(xl, max) {
          top: 10.5rem;
        }
      }
    }

    @include mq(xxl, max) {
      &::after {
        top: 15.2rem;
      }
    }

    @include mq(xl, max) {
      align-items: center;
      padding: 3rem 0 3rem 6.5rem;
      column-gap: 3.2rem;

      &::after {
        top: 14rem;
      }
    }

    @include mq(lg, max) {
      padding: 1rem 0 1rem 0;

      &::after {
        content: none;
      }
    }

    @include mq(sm, max) {
      flex-direction: column;
      align-items: start;
      margin-bottom: 4rem;
    
      &:last-child {
        margin-bottom: 0;
      }
    }

    &--no-dash {
      @include mq(sm, max) {
        flex-direction: column-reverse;
      }
    }
  }

  &__col {
    height: 100%;

    &--center {
      display: flex;
      align-items: center;

      @include mq(sm, max) {
        align-items: unset;
      }
    }

    &--cascade {
      max-width: 62.2rem;
      flex-direction: column;
      justify-content: flex-start;
      gap: 3.5rem;

      .story-line__img {
        &:first-child {
          margin-right: auto;
        }

        &:last-child {
          margin-left: auto;
        }
      }

      @include mq(xxl, max) {
        gap: 2rem;
      }

      @include mq(xl, max) {
        max-width: 42.2rem;
      }

      @include mq(sm, max) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;

        .swiper-slide-prev {
          opacity: 1;
        }

        .story-line__img {
          flex-grow: 1;
          flex-shrink: 0;
        }
      }

      @include mq(xs, max) {
        gap: 0;
      }
    }
  }

  &__big-col {
    flex-basis: 49%;

    @include mq(sm, max) {
      flex-basis: auto;
    }
  }

  &__small-col {
    flex: 0 0 48.5rem;

    @include mq(custom, max, 1440) {
      flex: 0 0 42.5rem;
    }

    @include mq(lg, max) {
      flex: 0 0 34.5rem;
    }

    @include mq(md, max) {
      flex: 1 1 auto;
    }
  }

  &__row {
    display: flex;
    gap: 10rem;

    @include mq(sm, max) {
      gap: 6rem;
    }
  }

  &__img {
    @include mq(sm, max) {
      overflow: hidden;
    }

    img {
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &--small {
      width: 38.7rem;
      height: 27.2rem;

      @include mq(xl, max) {
        width: 27.6rem;
        height: 19.4rem;
      }

      @include mq(sm, max) {
        width: 23.5rem;
        height: 16.6rem;
      }
    }

    &--big {
      width: 62.1rem;
      height: 41.7rem;

      @include mq(xl, max) {
        width: 44.3rem;
        height: 29.7rem;
      }

      @include mq(sm, max) {
        width: 100%;
        height: 35rem;
      }

      @include mq(xs, max) {
        height: 30rem;
      }

      @include mq(xxs, max) {
        height: 25rem;
      }

      @include mq(custom, max, 370) {
        width: 32rem;
        height: 21.5rem;
      }
    }

    &--midd {
      width: 44.8rem;
      height: 31.6rem;

      @include mq(sm, max) {
        width: 32rem;
        height: 21.5rem;
      }
    }
  }

  &__article {
    padding-top: 7.5rem;

    @include mq(xxl, max) {
      padding-top: 3rem;
    }

    @include mq(md, max) {
      height: 100%;
      padding-top: 0;
    }

    @include mq(sm, max) {
      margin-bottom: 4rem;
    }
  }
}

.history-slider--white-background {
  .story-line__item::after {
    height: 0.25rem;
    background-color: var(--color-dark);
  }
}