.mobile-carousel
    .mobile-carousel__body#techCarouselMob
      .mobile-carousel__slider
        .mobile-carousel__slider-wrapper
          .mobile-carousel__slide
            .mobile-carousel__main-image
              +pictureLazy("technics/image-1.jpg", alt="Ричстакеры FERRARI")
            ul.mobile-carousel__thumb-list
              li.mobile-carousel__thumb-item
                button.mobile-carousel__thumb-button.mobile-carousel__thumb-button--active
                  +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
              li.mobile-carousel__thumb-item
                button.mobile-carousel__thumb-button
                  +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
              li.mobile-carousel__thumb-item
                button.mobile-carousel__thumb-button
                  +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
              li.mobile-carousel__thumb-item
                button.mobile-carousel__thumb-button
                  +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
          .mobile-carousel__slide
            .mobile-carousel__main-image
              +pictureLazy("technics/image-1.jpg", alt="Ричстакеры FERRARI")
            ul.mobile-carousel__thumb-list
              li.mobile-carousel__thumb-item
                button.mobile-carousel__thumb-button.mobile-carousel__thumb-button--active
                  +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
              li.mobile-carousel__thumb-item
                button.mobile-carousel__thumb-button
                  +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
          .mobile-carousel__slide
            .mobile-carousel__main-image
              +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
            ul.mobile-carousel__thumb-list
              li.mobile-carousel__thumb-item
                button.mobile-carousel__thumb-button.mobile-carousel__thumb-button--active
                  +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
              li.mobile-carousel__thumb-item
                button.mobile-carousel__thumb-button
                  +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
              li.mobile-carousel__thumb-item
                button.mobile-carousel__thumb-button
                  +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")

        button.mobile-carousel__close
          +icon-multi('cross')
