section.technic-section.section
  .section__body
    .site-container.technic-section__container
      .section__breadcrumbs.breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a( href="/" ).breadcrumbs__link
              | Главная
          li.breadcrumbs__item
            a( href="#" ).breadcrumbs__link.breadcrumbs__link--active
              | Техническое оснащение

      h1.section__title.section__title--tech.section__title--not-border
        | Техническое оснащение

      .technic
        .technic__body#techCarousel
          .technic__slider
            .technic__slider-wrapper
              .technic__slide.slide
                .slide__body
                  .slide__image
                    +pictureLazy("technics/image-1.jpg", alt="Ричстакеры FERRARI")
                  .slide__title.section__subtitle
                    | Ричстакеры FERRARI
                  .slide__spec
                    .slide__spec-name
                      | Грузоподъемность:
                    .slide__spec-value
                      | Работа одним краном до 40 тн.<br>
                      | Спаренными кранами до 60 тн.
                .slide__number
                  | 1/5
              .technic__slide.slide
                .slide__body
                  .slide__image
                    +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
                  .slide__title.section__subtitle
                    | Ричстакеры FERRARI
                  .slide__spec
                    .slide__spec-name
                      | Грузоподъемность:
                    .slide__spec-value
                      | Работа одним краном до 40 тн.<br>
                      | Спаренными кранами до 60 тн.
                .slide__number
                  | 2/5
              .technic__slide.slide
                .slide__body
                  .slide__image
                    +pictureLazy("technics/image-2.jpg", alt="Ричстакеры FERRARI")
                  .slide__title.section__subtitle
                    | Автокран
                  .slide__spec
                    .slide__spec-name
                      | Грузоподъемность:
                    .slide__spec-value
                      | 1-ый ряд - 45 тонн,  2-ой ряд - 31 тонн, 3-ий ряд
                      | - 16 тонн. Кол-во ярусов - 6.
                .slide__number
                  | 3/5
