.tariffs {
  &__control-line {
    display: flex;
    gap: 23px;
    margin-bottom: 40px;

    @include mq(sm, max) {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 30px;
    }
  }

  &__body {
    padding: 50px 0 130px;
    border-style: solid;
    border-color: #d9d8d8;
    border-width: 0 0 1px 0;

    @include mq(sm, max) {
      padding: 30px 0 60px;
    }
  }

  &__tariffs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @include mq(xl, max) {
      margin-bottom: 40px;
    }

    @include mq(sm, max) {
      margin-bottom: 20px;
    }

    @include mq(sm, max) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  &__tariffs-item {
    width: 331px;
    min-height: 32.1rem;
    display: flex;

    @include mq(xl, max) {
      width: calc(50% - 10px);
      min-height: 20rem;
    }

    @include mq(sm, max) {
      width: 100%;
      min-height: 15.1rem;
    }
  }

  &__add-button {
    display: none;

    @include mq(xl, max) {
      display: flex;
      justify-content: center;
    }
  }
}
