.tariffs {
  &__control-line {
    display: flex;
    gap: 2.3rem;
    margin-bottom: 4rem;

    @include mq(sm, max) {
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 3rem;
    }
  }

  &__body {
    padding: 5rem 0 13rem;
    border-style: solid;
    border-color: #d9d8d8;
    border-width: 0 0 0.1rem 0;

    @include mq(sm, max) {
      padding: 3rem 0 6rem;
    }
  }

  &__tariffs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    @include mq(xl, max) {
      margin-bottom: 4rem;
    }

    @include mq(sm, max) {
      margin-bottom: 2rem;
    }

    @include mq(sm, max) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  &__tariffs-item {
    width: 33.1rem;
    min-height: 32.1rem;
    display: flex;

    @include mq(xl, max) {
      width: calc(50% - 1rem);
      min-height: 20rem;
    }

    @include mq(sm, max) {
      width: 100%;
      min-height: 15.1rem;
    }
  }

  &__add-button {
    display: none;

    @include mq(xl, max) {
      display: flex;
      justify-content: center;
    }
  }
}
