.slide {
  position: relative;
  padding: 0 2.5rem;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  @include mq(md, max) {
    &:first-child {
      .slide__number {
        left: 0;
      }
    }
  }

  @include mq(md, max) {
    padding: 0 2.5rem;

    &:first-child {
      padding-left: 0;
    }
  }

  @include mq(sm, max) {
    padding: 2rem 0;
  }


  &__body {
    width: 75.5rem;
    min-height: 65.4rem;
    display: grid;
    grid-auto-flow: column dense;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 27.4rem;
    grid-template-rows: 50.3rem min-content;
    gap: 2.7rem 3rem;
    grid-template-areas:
      "slide__image slide__image"
      "slide__title slide__spec";

    @include mq(xxl, max) {
      width: 62.9rem;
      min-height: 54.5rem;
      grid-template-columns: 1fr 23rem;
      grid-template-rows: 41.5rem min-content;
    }

    @include mq(xl, max) {
      grid-template-rows: 1.7fr 0.3fr;
      grid-template-columns: 1fr max-content;
    }

    @include mq(md, max) {
      width: 55.3rem;
      min-height: 52rem;
      grid-template-rows: 1.7fr 0.3fr;
    }

    @include mq(sm, max) {
      width: 100%;
      min-height: unset;
      height: 70vh;
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr min-content;
      grid-template-areas:
      "slide__title"
      "slide__image"
      "slide__spec";
    }

    @include mq(xs, max) {
      height: 35.1rem;
      gap: 2.1rem;
    }
  }

  &__image {
    grid-area: slide__image;
    position: relative;
    overflow: hidden;
    background-color: var(--color-other);

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 100%;
      max-width: unset;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  &__spec {
    grid-area: slide__spec;
    min-height: 13.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(sm, max) {
      min-height: unset;
    }
  }

  &__spec-name {
    margin-bottom: 1rem;
    font-weight: 550;
    font-size: 2.4rem;
    line-height: 110%;
    color: var(--color-title);

    @include mq(xl, max) {
      font-size: 2rem;
    }

    @include mq(md, max) {
      font-size: 1.6rem;
    }
  }

  &__spec-value {
    font-size: 1.4rem;
    line-height: 150%;
  }

  &__title {
    grid-area: slide__title;
    padding-bottom: 2rem;
    font-size: 3.8rem;

    @include mq(xxl, max) {
      font-size: 3.2rem;
    }

    @include mq(md, max) {
      font-size: 2.4rem;
    }

    @include mq(sm, max) {
      padding-bottom: 0;
    }
  }

  &__number {
    position: absolute;
    bottom: 0;
    left: 3rem;

    @include mq(sm, max) {
      display: none;
    }
  }
}
