.error {
  &__heading {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  &__heading-text {
    font-size: 1.8rem;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.2em;
    color: var(--color-accent);

    @include mq(sm, max) {
      font-size: 1.1rem;
      line-height: 120%;
    }
  }

  &__heading-number {
    width: 100%;
    max-width: 112.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 46.6rem;
    line-height: 1;
    color: var(--color-accent);
    text-align: center;

    span {
      line-height: 75%;
      text-align: center;
      letter-spacing: normal;
    }

    @include mq(xl, max) {
      max-width: 92rem;
      font-size: 38.6rem;
    }

    @include mq(md, max) {
      max-width: 72rem;
      font-size: 28.6rem;
    }

    @include mq(sm, max) {
      max-width: 31.9rem;
      font-size: 18rem;
      font-weight: 550;
    }
  }

  &__circle {
    position: absolute;
    left: 50%;
    top: calc(100% - 12.3rem);
    transform: translateX(-50%);
    max-width: 165rem;
    width: 100vw;
    padding-top: 86%;
    background-color: var(--color-white);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

    @include mq(custom, min, 2500) {
      max-width: 250rem;
      padding-top: 110%;
      top: calc(100% - 4rem);
    }

    @include mq(xl, max) {
      top: calc(100% - 10rem);
    }

    @include mq(lg, max) {
      top: calc(100% - 8rem);
    }

    @include mq(sm, max) {
      top: calc(100% - 2.5rem);
      padding-top: 100%;
    }

    @include mq(xxs, max) {
      width: 57rem;
      height: 49.6rem;
    }

    &-inner-wrapper {
      position: relative;
      width: 100%;
      height: 1px;
    }

    &-inner-back {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding-top: 100%;
      background-color: var(--color-white);
    }
  }

  &__message-wrapper {
    position: relative;
    z-index: 30;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 10rem;

    @include mq(custom, min, 2500) {
      margin-top: 4.2rem;
    }

    @include mq(xxl, max) {
      gap: 2rem;
    }

    @include mq(md, max) {
      margin-top: 4.2rem;
      margin-bottom: 8rem;
    }
  }

  &__text {
    max-width: 32.5rem;
    text-align: center;
    font-size: 2.2rem;
    line-height: 150%;

    @include mq(md, max) {
      max-width: 20rem;
      margin-bottom: 0;
      font-size: 1.6rem;
    }

    @include mq(xs, max) {
      margin-bottom: 2rem;
    }
  }

  &__button {
    padding: 3rem 5rem !important;
    font-size: 2.8rem !important;

    @include mq(md, max) {
      padding: 2.5rem 4rem !important;
      font-size: 2rem !important;
    }
  }
}
