.error {
  &__heading {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__heading-text {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.2em;
    color: var(--color-accent);

    @include mq(sm, max) {
      font-size: 11px;
      line-height: 120%;
    }
  }

  &__heading-number {
    width: 100%;
    max-width: 1122px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;
    font-size: 466px;
    line-height: 1;

    color: var(--color-accent);
    text-align: center;

    span {
      line-height: 75%;
      text-align: center;
      letter-spacing: normal;
    }

    @include mq(xl, max) {
      max-width: 920px;
      font-size: 386px;
    }

    @include mq(md, max) {
      max-width: 720px;
      font-size: 286px;
    }

    @include mq(sm, max) {
      max-width: 319px;
      font-size: 180px;
      font-weight: 550;
    }
  }

  &__circle {
    position: absolute;
    left: 50%;
    top: calc(100% - 123px);
    transform: translateX(-50%);

    max-width: 1650px;
    width: 100vw;
    padding-top: 86%;

    background-color: var(--color-white);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

    @include mq(custom, min, 2500) {
      max-width: 2500px;
      padding-top: 110%;
      top: calc(100% - 40px);
    }

    @include mq(xl, max) {
      top: calc(100% - 100px);
    }

    @include mq(lg, max) {
      top: calc(100% - 80px);
    }

    @include mq(sm, max) {
      top: calc(100% - 25px);
      padding-top: 100%;
    }

    @include mq(xxs, max) {
      width: 570px;
      height: 496px;
    }

    &-inner-wrapper {
      position: relative;
      width: 100%;
      height: 1px;
    }

    &-inner-back {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding-top: 100%;
      background-color: var(--color-white);
    }
  }

  &__message-wrapper {
    position: relative;
    z-index: 30;

    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;

    @include mq(custom, min, 2500) {
      margin-top: 42px;
    }

    @include mq(xxl, max) {
      gap: 20px;
    }

    @include mq(md, max) {
      margin-top: 42px;
      margin-bottom: 80px;
    }
  }

  &__text {
    max-width: 325px;

    text-align: center;
    font-size: 22px;
    line-height: 150%;

    @include mq(md, max) {
      max-width: 200px;
      margin-bottom: 0;

      font-size: 16px;
    }

    @include mq(xs, max) {
      margin-bottom: 20px;
    }
  }

  &__button {
    padding: 30px 50px !important;

    font-size: 28px !important;

    @include mq(md, max) {
      padding: 25px 40px !important;
      font-size: 20px !important;
    }
  }
}
