section.error-section.section
  .section__body.error-section__body
    .site-container.error-section__container
      .error__heading
        .error__heading-text
          span
            | Ошибка
        .error__heading-number
          span
            | 4
          span
            | 0
          span
            | 4
      .error__circle
        .error__circle-inner-wrapper
          .error__circle-inner-back

    .error__message-wrapper
      .error__title.section__subtitle
        | Что-то пошло не так!
      .error__text
        | К сожалению, такой страницы не существует
      a(href="/").blue-button.error__button
        | Перейти на главную
