section.scheme.section
  .section__body.scheme__body
    .scheme__heading
      .site-container
        .section__breadcrumbs.scheme__breadcrumbs.breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a( href="/" ).breadcrumbs__link
                | Главная
            li.breadcrumbs__item
              a( href="#" ).breadcrumbs__link.breadcrumbs__link--active
                | Схема порта

        h1.section__title.section__title--not-border
          | Схема порта

    .scheme__container
      .scheme__main
        .scheme__wrapper
          +picture('scheme/scheme-empty-mobile.jpg', 'схема порта Певек')

          .scheme__buttons-wrapper
            .scheme__inner-wrapper
              input(hidden type="radio" name="building" id="empty" checked)
              input(hidden type="radio" name="building" id="storages")
              input(hidden type="radio" name="building" id="capitol")
              input(hidden type="radio" name="building" id="hostel")
              input(hidden type="radio" name="building" id="boxes")
              input(hidden type="radio" name="building" id="berth-one")
              input(hidden type="radio" name="building" id="berth-two")
              input(hidden type="radio" name="building" id="berth-three")

              .scheme__masks-wrapper
                .scheme__masks

                  .scheme__mask-wrapper.scheme__mask-wrapper--storage
                    label.scheme__mask.scheme__mask--storages(for="storages")
                      img(src="./assets/images/scheme/storages-mask.svg", alt="")

                    .scheme__item.scheme__item--storages
                      .scheme__inner-wrapper
                        .scheme__button-wrapper
                          label.scheme__button(for="storages")
                            | Склады

                        .scheme__tooltip-wrapper
                          .scheme__tooltip
                            label.scheme__close-button(for="empty")
                              +icon-mono('tooltip-close')
                            .scheme__desc-wrapper
                              .scheme__desc
                                .scheme__desc-title
                                  | Склады
                                .scheme__desc-text
                                  | Текст (от лат. textus — ткань; сплетение,
                                  | сочетание) — зафиксированная на каком-либо
                                  | материальном носителе человеческая мысль; в
                                  | общем плане связная и полная последовательность
                                  | символов. В лингвистике термин «текст»
                                  | используется в более широком значении, включая
                                  | также образцы устной речи.
                              .scheme__slider-wrapper
                                .scheme__slider.swiper.js-swiper-slider
                                  .scheme__slider-list.swiper-wrapper
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-1.jpg" data-fancybox="tech-gallery")
                                      +picture("technics/image-1.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-2.jpg" data-fancybox="tech-gallery")
                                      +picture("technics/image-2.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-3.jpg" data-fancybox="tech-gallery")
                                      +picture("technics/image-3.jpg", 'фотографии схемы порта Певек')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-prev
                                      +icon-multi('arrow-l')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-next
                                      +icon-multi('arrow-r')
                        .scheme__pseudo-button(data-role="")
                  .scheme__mask-wrapper.scheme__mask-wrapper--capitol
                    label.scheme__mask.scheme__mask--capitol(for="capitol")
                      img(src="./assets/images/scheme/capitol-mask.svg", alt="")

                    .scheme__item.scheme__item--capitol
                      .scheme__inner-wrapper
                        .scheme__button-wrapper
                          label.scheme__button(for="capitol")
                            | Административное здание

                        .scheme__tooltip-wrapper
                          .scheme__tooltip
                            label.scheme__close-button(for="empty")
                              +icon-mono('tooltip-close')
                            .scheme__desc-wrapper
                              .scheme__desc
                                .scheme__desc-title
                                  | Административное здание
                                .scheme__desc-text
                                  | Текст (от лат. textus — ткань; сплетение,
                                  | сочетание) — зафиксированная на каком-либо
                                  | материальном носителе человеческая мысль; в
                                  | общем плане связная и полная последовательность
                                  | символов. В лингвистике термин «текст»
                                  | используется в более широком значении, включая
                                  | также образцы устной речи.
                              .scheme__slider-wrapper
                                .scheme__slider.swiper.js-swiper-slider
                                  .scheme__slider-list.swiper-wrapper
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-1.jpg" data-fancybox="tech-gallery2")
                                      +picture("technics/image-1.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-2.jpg" data-fancybox="tech-gallery2")
                                      +picture("technics/image-2.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-3.jpg" data-fancybox="tech-gallery2")
                                      +picture("technics/image-3.jpg", 'фотографии схемы порта Певек')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-prev
                                      +icon-multi('arrow-l')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-next
                                      +icon-multi('arrow-r')
                        .scheme__pseudo-button
                  .scheme__mask-wrapper.scheme__mask-wrapper--hostel
                    label.scheme__mask.scheme__mask--hostel(for="hostel")
                      img(src="./assets/images/scheme/hostel-mask.svg", alt="")

                    .scheme__item.scheme__item--hostel
                      .scheme__inner-wrapper
                        .scheme__button-wrapper
                          label.scheme__button(for="hostel")
                            | Общежитие

                        .scheme__tooltip-wrapper
                          .scheme__tooltip
                            label.scheme__close-button(for="empty")
                              +icon-mono('tooltip-close')
                            .scheme__desc-wrapper
                              .scheme__desc
                                .scheme__desc-title
                                  | Общежитие
                                .scheme__desc-text
                                  | Текст (от лат. textus — ткань; сплетение,
                                  | сочетание) — зафиксированная на каком-либо
                                  | материальном носителе человеческая мысль; в
                                  | общем плане связная и полная последовательность
                                  | символов. В лингвистике термин «текст»
                                  | используется в более широком значении, включая
                                  | также образцы устной речи.
                              .scheme__slider-wrapper
                                .scheme__slider.swiper.js-swiper-slider
                                  .scheme__slider-list.swiper-wrapper
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-1.jpg" data-fancybox="tech-gallery3")
                                      +picture("technics/image-1.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-2.jpg" data-fancybox="tech-gallery3")
                                      +picture("technics/image-2.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-3.jpg" data-fancybox="tech-gallery3")
                                      +picture("technics/image-3.jpg", 'фотографии схемы порта Певек')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-prev
                                      +icon-multi('arrow-l')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-next
                                      +icon-multi('arrow-r')
                        .scheme__pseudo-button
                  .scheme__mask-wrapper.scheme__mask-wrapper--boxes
                    label.scheme__mask.scheme__mask--boxes(for="boxes")
                      img(src="./assets/images/scheme/boxes-mask.svg", alt="")

                    .scheme__item.scheme__item--boxes
                      .scheme__inner-wrapper
                        .scheme__button-wrapper
                          label.scheme__button(for="boxes")
                            | Ремонтные боксы

                        .scheme__tooltip-wrapper
                          .scheme__tooltip
                            label.scheme__close-button(for="empty")
                              +icon-mono('tooltip-close')
                            .scheme__desc-wrapper
                              .scheme__desc
                                .scheme__desc-title
                                  | Ремонтные боксы
                                .scheme__desc-text
                                  | Текст (от лат. textus — ткань; сплетение,
                                  | сочетание) — зафиксированная на каком-либо
                                  | материальном носителе человеческая мысль; в
                                  | общем плане связная и полная последовательность
                                  | символов. В лингвистике термин «текст»
                                  | используется в более широком значении, включая
                                  | также образцы устной речи.
                              .scheme__slider-wrapper
                                .scheme__slider.swiper.js-swiper-slider
                                  .scheme__slider-list.swiper-wrapper
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-1.jpg" data-fancybox="tech-gallery4")
                                      +picture("technics/image-1.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-2.jpg" data-fancybox="tech-gallery4")
                                      +picture("technics/image-2.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-3.jpg" data-fancybox="tech-gallery4")
                                      +picture("technics/image-3.jpg", 'фотографии схемы порта Певек')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-prev
                                      +icon-multi('arrow-l')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-next
                                      +icon-multi('arrow-r')
                        .scheme__pseudo-button
                  .scheme__mask-wrapper.scheme__mask-wrapper--berth-two
                    label.scheme__mask.scheme__mask--berth-two(for="berth-two")
                      img(src="./assets/images/scheme/berth-two-mask.svg", alt="")

                    .scheme__item.scheme__item--berth-two
                      .scheme__inner-wrapper
                        .scheme__button-wrapper
                          label.scheme__button(for="berth-two")
                            | Причал №3

                        .scheme__tooltip-wrapper
                          .scheme__tooltip
                            label.scheme__close-button(for="empty")
                              +icon-mono('tooltip-close')
                            .scheme__desc-wrapper
                              .scheme__desc
                                .scheme__desc-title
                                  | Причал №3
                                .scheme__desc-text
                                  | Текст (от лат. textus — ткань; сплетение,
                                  | сочетание) — зафиксированная на каком-либо
                                  | материальном носителе человеческая мысль; в
                                  | общем плане связная и полная последовательность
                                  | символов. В лингвистике термин «текст»
                                  | используется в более широком значении, включая
                                  | также образцы устной речи.
                              .scheme__slider-wrapper
                                .scheme__slider.swiper.js-swiper-slider
                                  .scheme__slider-list.swiper-wrapper
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-1.jpg" data-fancybox="tech-gallery5")
                                      +picture("technics/image-1.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-2.jpg" data-fancybox="tech-gallery5")
                                      +picture("technics/image-2.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-3.jpg" data-fancybox="tech-gallery5")
                                      +picture("technics/image-3.jpg", 'фотографии схемы порта Певек')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-prev
                                      +icon-multi('arrow-l')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-next
                                      +icon-multi('arrow-r')
                        .scheme__pseudo-button
                  .scheme__mask-wrapper.scheme__mask-wrapper--berth-one
                    label.scheme__mask.scheme__mask--berth-one(for="berth-one")
                      img(src="./assets/images/scheme/berth-one-mask.svg", alt="")

                    .scheme__item.scheme__item--berth-one
                      .scheme__inner-wrapper
                        .scheme__button-wrapper
                          label.scheme__button(for="berth-one")
                            | Причал №2

                        .scheme__tooltip-wrapper
                          .scheme__tooltip
                            label.scheme__close-button(for="empty")
                              +icon-mono('tooltip-close')
                            .scheme__desc-wrapper
                              .scheme__desc
                                .scheme__desc-title
                                  | Причал №2
                                .scheme__desc-text
                                  | Текст (от лат. textus — ткань; сплетение,
                                  | сочетание) — зафиксированная на каком-либо
                                  | материальном носителе человеческая мысль; в
                                  | общем плане связная и полная последовательность
                                  | символов. В лингвистике термин «текст»
                                  | используется в более широком значении, включая
                                  | также образцы устной речи.
                              .scheme__slider-wrapper
                                .scheme__slider.swiper.js-swiper-slider
                                  .scheme__slider-list.swiper-wrapper
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-1.jpg" data-fancybox="tech-gallery6")
                                      +picture("technics/image-1.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-2.jpg" data-fancybox="tech-gallery6")
                                      +picture("technics/image-2.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-3.jpg" data-fancybox="tech-gallery6")
                                      +picture("technics/image-3.jpg", 'фотографии схемы порта Певек')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-prev
                                      +icon-multi('arrow-l')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-next
                                      +icon-multi('arrow-r')
                        .scheme__pseudo-button
                  .scheme__mask-wrapper.scheme__mask-wrapper--berth-three
                    label.scheme__mask.scheme__mask--berth-three(for="berth-three")
                      img(src="./assets/images/scheme/berth-three-mask.svg", alt="")

                    .scheme__item.scheme__item--berth-three
                      .scheme__inner-wrapper
                        .scheme__button-wrapper
                          label.scheme__button(for="berth-three")
                            | Причал №1

                        .scheme__tooltip-wrapper
                          .scheme__tooltip
                            label.scheme__close-button(for="empty")
                              +icon-mono('tooltip-close')
                            .scheme__desc-wrapper
                              .scheme__desc
                                .scheme__desc-title
                                  | Причал №1
                                .scheme__desc-text
                                  | Текст (от лат. textus — ткань; сплетение,
                                  | сочетание) — зафиксированная на каком-либо
                                  | материальном носителе человеческая мысль; в
                                  | общем плане связная и полная последовательность
                                  | символов. В лингвистике термин «текст»
                                  | используется в более широком значении, включая
                                  | также образцы устной речи.
                              .scheme__slider-wrapper
                                .scheme__slider.swiper.js-swiper-slider
                                  .scheme__slider-list.swiper-wrapper
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-1.jpg" data-fancybox="tech-gallery7")
                                      +picture("technics/image-1.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-2.jpg" data-fancybox="tech-gallery7")
                                      +picture("technics/image-2.jpg", 'фотографии схемы порта Певек')
                                    a.scheme__slider-item.swiper-slide(href="./assets/images/technics/image-3.jpg" data-fancybox="tech-gallery7")
                                      +picture("technics/image-3.jpg", 'фотографии схемы порта Певек')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-prev
                                      +icon-multi('arrow-l')
                                  .scheme__slider-button.scheme__slider-button--next.swiper-button-next
                                      +icon-multi('arrow-r')
                        .scheme__pseudo-button

  .site-container.scheme__mobile-container
    .scheme__mobile-desc
