.close-button {
  padding: 2rem;

  svg {
    width: 2.4rem;
    height: 2.4rem;
    stroke: var(--color-white);
  }

  @include mq(sm, max) {
    svg {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}
