.select-box {
  position: relative;
  display: block;
  width: 42rem;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 150%;
  color: var(--color-text);

  @include mq(xl, max) {
    width: 38rem;
  }

  @include mq(md, max) {
    width: 32rem;
  }

  @include mq(sm, max) {
    width: 100%;
    font-size: 1.6rem;
  }

  &__label {
    position: absolute;
    top: 0.5rem;
    padding-left: 3rem;
    font-size: 1.2rem;
    line-height: 140%;
    color: rgba(101, 108, 125, .6);
    pointer-events: none;

    @include mq(sm, max) {
      padding-left: 2.4rem;
      font-size: 1rem;
    }
  }

  &__current {
    position: relative;
    height: 6.6rem;
    overflow: hidden;
    outline: none;
    background-color: var(--color-white);
    border: 0.1rem solid #CED0D6;
    border-radius: 5rem;
    cursor: pointer;

    &.active {
      color: var(--color-accent);
      border-color: var(--color-accent);

      & + .select-box__list-wrapper {
        opacity: 1;

        animation-name: none;

        .select-box__option {
          cursor: pointer;
        }
      }

      .select-box__input-text {
        color: var(--color-accent);
      }

      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);

        svg {
          color: var(--color-accent);
          stroke: var(--color-accent);
        }
      }
    }

    @include mq(sm, max) {
      height: 5.2rem;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    width: 2rem;
    transition: 0.1s ease;

    svg {
      width: 1.8rem;
      height: 1.8rem;
      stroke-width: 0.2rem;
      color: var(--color-title);
      stroke: var(--color-title);
    }

    @include mq(sm, max) {
      right: 2.4rem;
    }
  }

  &__value {
    display: flex;
  }

  &__input {
    display: none;

    &:checked + .select-box__input-text {
      display: block;
    }
  }

  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 2.1rem 3rem 1.7rem 3rem;
    color: var(--color-text);

    @include hover {
      &:hover {
        color: var(--color-accent);
      }
    }

    @include mq(sm, max) {
      padding: 2rem 2.5rem 0.8rem 2.4rem;
    }
  }

  &__list-wrapper {
    position: absolute;
    top: calc(100% + 0.9rem);
    z-index: 25;
    width: 100%;
    padding: 2rem 0.5rem 2rem 3rem;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    background-color: var(--color-white);
    border: 0.1rem solid var(--color-accent);
    border-radius: 2.4rem;
    list-style: none;
    opacity: 0;
    overflow: hidden;
  }

  &__list {
    max-height: 14.1rem;
    overflow-y: scroll;
    scrollbar-color: var(--color-other) transparent !important;
    scrollbar-width: thin !important;

    li {
      &:last-child {
        label {
          margin-bottom: 0;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track  {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      width: 0.2rem;
      height: 7.6rem;
      border-radius: 0.3rem;
      border: 0.3rem solid var(--color-other);
      background-color: var(--color-other);
    }

    &::-webkit-scrollbar-track-piece {
      background-color: transparent;
    }

    @include mq(sm, max) {
      height: 14rem;
    }
  }

  &__option {
    position: relative;
    display: block;
    padding-left: 0;
    margin-bottom: 2rem;
    background-color: #fff;
    transition: padding-left 0.2s ease-out;

    @media (any-hover: hover) {
      &:hover {
        padding-left: 3.2rem;
        color: var(--color-accent);
        background-color: #fbfbfb;

        &::before {
          opacity: 1;
        }
      }
    }

    &::before {
      content: '';
      opacity: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 2rem;
      height: 2.4rem;
      background-image: url('../../assets/images/icons/mono/anchor.svg');
      background-size: contain;
      transition: opacity .1s ease-out;
    }

    @include notHover {
      transition: unset;

      &.active {
        padding-left: 3.2rem;
        color: var(--color-accent);
        background-color: #fbfbfb;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
