.contacts-section {
  &__info-body {
    padding: 3rem 0 9.9rem;
    border-style: solid;
    border-color: #d9d8d8;
    border-width: 0 0 0.1rem 0;

    @include mq(md, max) {
      padding: 3rem 0;
    }
  }

  &__icon {
    svg {
      width: 4rem;
      height: 6.3rem;
      color: var(--color-accent);
    }

    @include mq(xl, max) {
      display: none;
    }
  }

  &__info-right {
    padding-left: 2.4rem;

    @include mq(md, max) {
      align-items: flex-start;
      gap: 2.4rem;
      padding-left: 0;
    }

    @include mq(sm, max) {
      align-items: flex-start !important;

      .contacts__list {
        align-items: flex-start;
      }

      .contacts__item {
        align-items: flex-start;
      }
    }
  }

  &__info-left {
    @include mq(md, max) {
      display: none;
    }
  }

  &__requisites {
    padding-left: 2.5rem;

    @include mq(md, max) {
      padding-left: 0;
    }
  }

  &__contacts {
    padding-left: 0;
  }

  &__map {
    padding-top: 2.7rem;
    padding-bottom: 0.5rem;

    @include mq(md, max) {
      padding: 3rem 0;
      border-style: solid;
      border-color: #d9d8d8;
      border-width: 0 0 0.1rem 0;
    }
  }
}
