.map {
  &__inner-header {
    display: flex;
    margin-bottom: 10.3rem;

    @include mq(lg, max) {
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 3rem;
    }
  }

  &__subtitle,
  &__address {
    flex-basis: 50%;

    @include mq(sm, max) {
      flex-basis: 100%;
    }
  }

  &__subtitle {
    @include mq(sm, max) {
      font-size: 2rem !important;
    }
  }

  &__address {
    padding-left: 2.5rem;
    font-size: 2.2rem;
    line-height: 150%;

    @include mq(lg, max) {
      padding-left: 0;

      br {
        display: none;
      }
    }

    @include mq(sm, max) {
      font-size: 1.6rem;
    }
  }

  &__yamap-wrapper {
    width: 100%;
    min-height: 78.8rem;
    background-color: var(--color-other);

    @include mq(md, max) {
      min-height: 48.5rem;
    }
  }
}

#ya-map {
  filter: brightness(82%) saturate(271%) contrast(136%);

  .ya-maps-placemark {
    filter: brightness(106%) saturate(50%) contrast(100%);
  }
}
