.requisites {
  &__title {
    margin-bottom: 0.9rem;
    font-weight: 550;
    font-size: 2.4rem;
    line-height: 110%;
    color: var(--color-title);

    @include mq(md, max) {
      margin-bottom: 0.2rem;
      font-size: 2rem;
    }
  }

  &__requisites-item {
    margin-bottom: 1rem;
    font-size: 2.2rem;
    line-height: 150%;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(md, max) {
      margin-bottom: 0.4rem;
      font-size: 1.6rem;
    }
  }
}
