extends layout/default.pug

block variables
  - const headerClass = "fix-block"
  - const bodyClass = "page-home preload"
  - const pageTitle = "Главная"
  - const siteLang = "ru"

block content
  include pages/index/main.pug
