extends layout/default.pug

block variables
  - const bodyClass = "page page-tariffs preload"
  - const pageTitle = "Услуги и тарифы"
  - const siteLang = "ru"
  - const heading = "Услуги и тарифы"

block content
  include pages/tariffs/main.pug
