extends layout/default.pug

block variables
  - const bodyClass = "page page-scheme preload"
  - const pageTitle = "Схема порта"
  - const siteLang = "ru"
  - const heading = "Схема порта"

block content
  include pages/scheme/main.pug
