extends layout/default.pug

block variables
  - const bodyClass = "page page-info"
  - const pageTitle = "Раскрытие информации"
  - const siteLang = "ru"
  - const heading = "Раскрытие информации"

block content
  include pages/info/main.pug
