extends layout/error.pug

block variables
  - const headerClass = ""
  - const bodyClass = "page-history preload"
  - const pageTitle = "История порта"
  - const siteLang = "ru"
  - const heading = "История порта"

block content
  include pages/history/main.pug
