extends layout/default.pug

block variables
  - const bodyClass = "page page-contacts"
  - const pageTitle = "Контакты"
  - const siteLang = "ru"
  - const heading = "Контакты"
  - const loadScript = true

block content
  include pages/contacts/main.pug
