extends layout/default.pug

block variables
  - const bodyClass = "page page-technic"
  - const pageTitle = "Техническое оснащение"
  - const siteLang = "ru"
  - const heading = "Техническое оснащение"

block content
  include pages/technic/main.pug
