mixin header(classLogo, classControl)
  header.header
    .site-container
      .header__body

        .header__controls(class = classControl)
          .header__menu-control
            button.menu-control
              span.menu-control__icon
              span.menu-control__text
                | Меню

          .header__site-control
            .header__search-control
              .search-control
                buttom.search-control__btn
                  +icon-multi('search')

            .header__lang-control
              .lang-control
                button.lang-control__btn.lang-control__btn-active
                  | Ru
                .lang-control__lang-list
                  .lang-control__list-item
                    button.lang-control__btn
                      | Ru
                  .lang-control__list-item
                    button.lang-control__btn
                      | En
