section.clients#clients
  h2.setion__title.visually-hidden
    | section secondary title

  .clients__mobile-history-text
    .site-container
      .history__down-content
        .history__down-text
          | Морской торговый порт Певек стал современным, высокомеханизированным,
          | крупным портом Северного морского пути,&nbsp;занимающим стратегическое
          | положение в восточном секторе Арктики, за полярным кругом на широте
          | 6242 и долготе 170 16.
        .history__link-wrapper
          a.main-button(href="#")
            span.main-button__text
              | Узнать больше
            span.main-button__circle

  .site-container
    .clients__body
      .clients__title
        | Клиенты
  .site-container
    .clients__list-wrapper
      ul.clients__list#clients-list
        li.clients__item
          .clients__label
            +pictureLazy('clients/img-1.png', 'клиент порта "Певек" - "росатом"')
        li.clients__item
          .clients__label
            +pictureLazy('clients/img-2.png', 'клиент порта "Певек" - "kinross"')
        li.clients__item
          .clients__label
            +pictureLazy('clients/img-3.png', 'клиент порта "Певек" - "fesco"')
        li.clients__item
          .clients__label
            +pictureLazy('clients/img-4.png', 'клиент порта "Певек" - "polymetal"')
        li.clients__item
          .clients__label
            +pictureLazy('clients/img-4.png', 'клиент порта "Певек" - "polymetal"')
        li.clients__item
          .clients__label
            +pictureLazy('clients/img-4.png', 'клиент порта "Певек" - "polymetal"')
        li.clients__item
          .clients__label
            +pictureLazy('clients/img-4.png', 'клиент порта "Певек" - "polymetal"')


        .clients__pseudo-list#pseudo-list
