section.history#history
  h2.setion__title.visually-hidden
    | section secondary title

  .history__up
    .site-container
      .history__up-body
        .history__up-heading
          h2.history__title
            | Морской порт Певек является базовым портом на Северном морском пути
          .history__subtitle
            | Через порт осуществляетcя более четверти объёма всех поставок
            | морским путём на Чукотку, а так же завоз всех генеральных грузов для
            |  компаний, работающих в Чаун-Билибинском промышленном узле,
            | расположен в Чаунской губе Восточно-Сибирского моря.
        .history__up-center
          .history__center-logo
            .history__center-icon
              +icon-mono('anchor')
            .history__center-text
              | Датой рождения порта считается
          .history__center-image
            +picture('history/date-image.png', 'дата основания порта Певек')
        .history__up-decore-circle
  .history__down
    .site-container
      .history__down-body
        .history__down-content.animate-history-down
          .history__down-text
            | Морской торговый порт Певек стал современным, высокомеханизированным,
            | крупным портом Северного морского пути, занимающим стратегическое
            | положение в восточном секторе Арктики, за полярным кругом на широте
            | 6242 и долготе 170 16.
          .history__link-wrapper
            a.main-button(href="#")
              span.main-button__text
                | Узнать больше
              span.main-button__circle
