section.intro
  h1.setion__title.visually-hidden
    | section main title

  .animated-logo
    .site-container
      a.animated-logo__link(href="/")
        .animated-logo__title.logo-scale
          | Певек
        .animated-logo__sub-title
          .animated-logo__sub-items
            span.animated-logo__icon
              +icon-mono('anchor')
            span.animated-logo__text
              | Морской<br> торговый порт

  .intro__body.parallax-bg(data-speed="0.15")
    .site-container
      .intro__image
        +picture('intro/intro-ship-image.png', 'баржа торгового порта "Певек"')
      .intro__button-wrapper
        a.main-button(href="./page-tariffs.html")
          span.main-button__text
            | Тарифы и услуги
          span.main-button__circle
