.footer {
  position: relative;
  z-index: 30;
  display: block;
  padding: 7.7rem 0 2.3rem;

  background-color: var(--color-white);

  &__body {
    min-height: 37.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(xl, max) {
      gap: 5rem;
    }

    @include mq(md, max) {
      min-height: unset;
      gap: 3rem;
    }
  }

  &__inner-header,
  &__inner-footer {
    display: flex;
    justify-content: space-between;

    @include mq(lg, max) {
      flex-direction: column;
    }
  }

  &__inner-header {
    @include mq(xl, max) {
      gap: 5rem;
    }

    @include mq(md, max) {
      gap: 3rem;
    }
  }

  &__left,
  &__right {
    flex-basis: 50%;
    display: flex;

    @include mq(xl, max) {
      flex-basis: 100%;
    }

    @include mq(lg, max) {
      gap: 2rem;
    }
  }

  &__left {
    flex-direction: column;
    justify-content: space-between;

    @include mq(lg, max) {
      flex-direction: row;
      align-items: center;
    }

    @include mq(sm, max) {
      flex-direction: column;
      gap: 3rem;
      text-align: center;
    }
  }

  &__logo,
  &__address {
    @include mq(lg, max) {
      flex-basis: 100%;

      display: flex;
      justify-self: start;
    }
  }

  &__logo {
    max-width: max-content;
  }

  &__right {
    padding-left: 2rem;

    @include mq(lg, max) {
      flex-grow: 1;
      padding-left: 0;
    }

    @include mq(sm, max) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
    }
  }

  &__address {
    margin-bottom: 4.5%;

    font-size: 1.8rem;
    line-height: 140%;
    color: var(--color-title);

    @include mq(lg, max) {
      margin-bottom: 0;
    }

    @include mq(sm, max) {
      font-size: 1.4rem;
      line-height: 150%;
    }
  }

  &__inner-footer {
    font-size: 1.4rem;

    @include mq(xl, max) {
      gap: 2rem;
    }

    @include mq(sm, max) {
      gap: 0;
    }
  }

  &__nav,
  &__contacts,
  &__policy,
  &__dev {
    flex-basis: 50%;

    @include mq(xl, max) {
      flex-basis: 100%;
    }
  }

  &__nav {
    .nav__item {
      height: 2rem;
      margin-bottom: 2.4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .nav__link {
      font-size: 2rem;
    }

    .nav__icon {
      height: 2.6rem;
    }

    @include mq(sm, max) {
      display: none;
    }
  }

  &__nav,
  &__contacts,
  &__policy,
  &__dev {
    flex-basis: 50%;
  }

  &__contacts {
    padding-top: 0.5rem;

    .contacts__item {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include mq(md, max) {
      .contacts__list {
        align-items: flex-start;
      }

      .contacts__item {
        align-items: flex-start;
      }
    }

    @include mq(sm, max) {
      display: flex;
      justify-content: center;

      .contacts__list {
        align-items: center;
      }

      .contacts__item {
        align-items: center;
      }
    }
  }

  &__contacts,
  &__dev {
    padding-left: 6rem;

    @include mq(lg, max) {
      padding-left: 0;
    }
  }

  &__policy {
    transition: var(--transition);
    @include hover {
      color: var(--color-accent);
    }

    @include mq(sm, max) {
      margin-bottom: 0;

      font-size: 1.2rem;
      line-height: 140%;
    }
  }

  &__policy-text {
    display: none;

    @include mq(sm, max) {
      display: block;
    }
  }

  &__copyright {
    @include mq(sm, max) {
      display: none;
    }
  }

  &__dev {
    display: flex;
    align-items: center;

    @include mq(sm, max) {
      flex-direction: column;
      gap: 1rem;
    }

    &:hover {
      .footer__dev-text {
        color: var(--color-accent);
      }
    }
  }

  &__dev-text {
    margin-right: 1.7rem;
    transition: var(--transition);

    @include mq(sm, max) {
      margin-right: 0;

      font-size: 1.2rem;
      line-height: 140%;
    }
  }

  &__dev-logo {
    width: 7.6rem;
    height: 1.9rem;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  @include mq(lg, max) {
    padding: 6rem 0 2.3rem;
  }

  @include mq(sm, max) {
    padding: 3.7rem 0 1rem;
  }
}
