.header {
  position: relative;
  z-index: 32;

  width: 100%;
  padding-top: 2.5rem;

  &__body {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    @include mq(xxs, max) {
      gap: 1.8rem;
    }
  }

  &__logo {
    flex-basis: 74.5%;

    @include mq(xxl, max) {
      flex-basis: auto;
    }
  }

  &__controls {
    position: relative;
    flex-basis: 25.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7.4rem;
    padding: 0 0.6rem 1rem 7rem;
    opacity: 1;

    @include mq(xxl, max) {
      flex-basis: 30%;
    }

    @include mq(xl, max) {
      gap: 2rem;
    }

    @include mq(md, max) {
      position: relative;
      right: unset;

      flex-basis: auto;
      flex-direction: row-reverse;
      align-items: center;
      column-gap: 1.5rem;
      margin-left: auto;
      padding-top: 0;
      padding-left: 0;
    }

    @include mq(sm, max) {
      padding-right: 0;
      padding-bottom: 0.5rem;
    }

    @include mq(xxs, max) {
      margin-left: auto;
      padding-bottom: 1.5rem;
    }
  }

  &__site-control {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
    padding-right: 0.9rem;

    @include mq(xl, max) {
      column-gap: 2rem;
      padding-right: 0;
    }
  }

  &__lang-control {
    @include mq(md, max) {
      display: none;
    }
  }

  @include mq(md, max) {
    padding: 2rem 0;
  }

  @include mq(sm, max) {
    padding: 1.6rem 0;
  }
}

.page-home {
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 19;
    width: 100%;

    &__controls {
      position: relative;
      padding-top: 0;
      padding-right: 0px;
      opacity: 0;
      transition: opacity 4s 3s;
    }

    @include mq(sm, max) {
      position: absolute;
    }
  }

  .header__logo {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.page-history {
  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 59;
    width: 100%;
    transition: 0.3s ease;

    &--hidden {
      top: -11rem;
    }
  }
}

.modal-menu-open {
  .header {
    z-index: 59;
    background-color: transparent;
  }

  .header__logo {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  @include mq(md, max) {
    .header__logo {
      display: none;
    }

    .header__controls {
      flex-basis: 100%;
      padding: 0;
    }

    .header__site-control {
      height: 2.7rem;
      flex-grow: 1;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .header__lang-control {
      display: block;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

.fixed-mobile-header {
  position: fixed !important;
  top: 0 !important;
  z-index: 60 !important;

  background-color: var(--color-white);

  .header__logo {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: all !important;
  }

  .header__controls {
    transition: none;
  }
}

.animation-on {
  .header__controls {
    opacity: 1 !important;
  }
}
