.section {
  overflow: hidden;

  &__body {
    padding-top: 4.5rem;

    @include mq(xl, max) {
      overflow: hidden;
    }

    @include mq(sm, max) {
      padding-top: 2rem;
    }
  }

  &__breadcrumbs {
    margin-bottom: 4.5rem;

    @include mq(sm, max) {
      margin-bottom: 1.9rem;
    }
  }

  &__title {
    padding-bottom: 5.6rem;

    border-style: solid;
    border-color: #d9d8d8;
    border-width: 0 0 1px 0;

    font-weight: 550;
    font-size: 10rem;
    line-height: 90%;
    letter-spacing: -0.03em;
    color: var(--color-title);

    &--not-border {
      border-width: 0 0 0 0;
    }

    &--white {
      color: var(--color-white);
      padding-bottom: 0;
      margin-top: -1.2rem;
      margin-left: -0.2rem;

      @include mq(sm, max) {
        margin-top: 0;
      }
    }

    &--big {
      font-weight: 700;
      font-size: 26rem;
      line-height: 100%;
      letter-spacing: -0.03em;
      text-transform: uppercase;

      @include mq(xl, max) {
        font-size: 13.2rem !important;
      }

      @include mq(sm, max) {
        padding-bottom: 0 !important;
        font-size: 5.6rem !important;
      }
    }

    &--tech {
      padding-bottom: 11.6rem;
    }

    @include mq(xl, max) {
      padding-bottom: 2rem;

      font-size: 7.2rem;
      line-height: 100%;
    }

    @include mq(sm, max) {
      font-size: 4.8rem;
      line-height: 100%;
      letter-spacing: -0.01em;
    }
  }

  &__subtitle {
    font-weight: 550;
    font-size: 4.6rem;
    line-height: 105%;
    color: var(--color-title);

    @include mq(xl, max) {
      font-size: 3.6rem;
    }

    @include mq(md, max) {
      font-size: 2.4rem;
    }
  }
}

.tariffs-section {
  @include mq(sm, max) {
    .section__title {
      padding-bottom: 0;
      border-width: 0 0 0 0;
    }
  }
}

.page-scheme {
  .section__title {
    color: var(--color-white);

    @include mq(sm, max) {
      color: var(--color-title);
    }
  }
}
.page-scheme {
  .modal__title.section__title {
    color: var(--color-white);

    @include mq(sm, max) {
      color: var(--color-white);
    }
  }
}
