.section {
  overflow: hidden;

  &__body {
    padding-top: 45px;

    @include mq(xl, max) {
      overflow: hidden;
    }

    @include mq(sm, max) {
      padding-top: 20px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 45px;

    @include mq(sm, max) {
      margin-bottom: 19px;
    }
  }

  &__title {
    padding-bottom: 56px;

    border-style: solid;
    border-color: #d9d8d8;
    border-width: 0 0 1px 0;

    font-weight: 550;
    font-size: 100px;
    line-height: 90%;
    letter-spacing: -0.03em;
    color: var(--color-title);

    &--not-border {
      border-width: 0 0 0 0;
    }

    &--white {
      color: var(--color-white);
      padding-bottom: 0;
      margin-top: -12px;
      margin-left: -4px;

      @include mq(sm, max) {
        margin-top: 0;
      }
    }

    &--big {
      font-weight: 700;
      font-size: 260px;
      line-height: 100%;
      letter-spacing: -0.03em;
      text-transform: uppercase;

      @include mq(xl, max) {
        font-size: 132px !important;
      }

      @include mq(sm, max) {
        padding-bottom: 0 !important;
        font-size: 56px !important;
      }
    }

    &--tech {
      padding-bottom: 116px;
    }

    @include mq(xl, max) {
      padding-bottom: 20px;

      font-size: 72px;
      line-height: 100%;
    }

    @include mq(sm, max) {
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -0.01em;
    }
  }

  &__subtitle {
    font-weight: 550;
    font-size: 46px;
    line-height: 105%;
    color: var(--color-title);

    @include mq(xl, max) {
      font-size: 36px;
    }

    @include mq(md, max) {
      font-size: 24px;
    }
  }
}

.tariffs-section {
  @include mq(sm, max) {
    .section__title {
      padding-bottom: 0;
      border-width: 0 0 0 0;
    }
  }
}
