.animated-logo {
  width: 100%;
  padding-top: 88px;
  max-height: max-content;
  overflow: hidden;
  will-change: padding-top;
  transition: padding-top 0.4s ease-out;
  z-index: 40;

  @include mq(lg, max) {
    height: max-content;
    padding-top: 30px;
    left: 0px;
  }

  @include mq(sm, max) {
    padding-top: 72px;
    position: static;
  }

  &__link {
    width: 0;
    display: flex;
    align-items: baseline;
    gap: 307px;
    will-change: gap;
    opacity: 0;
    overflow: hidden;

    transition: gap 0.5s linear, width 3s, opacity 3s .3s;

    @include mq(custom, max, 1500) {
      gap: 200px;
    }

    @include mq(custom, max, 1350) {
      gap: 60px;
    }

    @include mq(lg, max) {
      flex-direction: column;
      align-items: center;
      gap: 0px;
    }
  }

  &__title {
    padding-right: 15px;
    font-weight: 700;
    font-size: 316px;
    line-height: 111%;
    letter-spacing: -0.03em;
    color: var(--color-white);

    will-change: font-size;
    transition: font-size 0.4s ease-out, width 3s, opacity 3s;

    @include mq(custom, max, 1090) {
      font-size: 270px;
    }

    @include mq(md, max) {
      padding-right: 0;

      font-size: 110px;
      line-height: 100%;
    }

    @include mq(xxs, max) {
      padding-right: 12px;
    }
  }

  &__sub-title {
    display: flex;
  }

  &__sub-items {
    display: flex;
    align-items: center;
    gap: 20px;

    line-height: 316px;
    opacity: 0;
    transition: opacity 4s 3s;

    @include mq(lg, max) {
      flex-direction: column;
      align-items: center;
      gap: 0px;
    }
  }

  &__icon {
    width: 25px;
    height: 47px;

    svg {
      max-width: 100%;
      max-height: 100%;

      fill: var(--color-white);
    }

    @include mq(xl, max) {
      width: 20px;
      height: 37px;
    }

  }

  &__text {
    color: var(--color-white);
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.2em;

    @include mq(xl, max) {
      text-align: center;
    }

    @include mq(xl, max) {
      font-size: 11px;
      line-height: 120%;
    }
  }
}

.animation-on {
  .animated-logo__sub-items {
    opacity: 1;
  }
  .animated-logo__link {
    opacity: 1;
    width: 100%;
  }
}
