.info {
  &__body {
    display: flex;
    padding: 3rem 0 13rem;
    border-style: solid;
    border-color: #d9d8d8;
    border-width: 0 0 0.1rem 0;

    @include mq(xl, max) {
      flex-direction: column;
    }

    @include mq(md, max) {
      padding: 2rem 0 6rem;
    }
  }

  &__sidebar {
    padding-right: 6.5rem;
    border-style: solid;
    border-color: #d9d8d8;
    border-width: 0 0.1rem 0 0;

    @include mq(xxl, max) {
      padding-right: 3rem;
    }

    @include mq(xl, max) {
      padding-right: 0;
      border-width: 0 0 0 0;
    }

    @include mq(xl, max) {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 2.4rem;
    }
  }

  &__sidebar-item {
    margin-bottom: 2.8rem;
    padding-bottom: 3rem;
    border-style: solid;
    border-color: #d9d8d8;
    border-width: 0 0 0.1rem 0;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(xl, max) {
      padding-bottom: 2rem;
      margin-bottom: 0;
      border-width: 0 0 0 0;

      &:last-child {
        margin-bottom: 2rem;
        border-width: 0 0 0.1rem 0;
      }
    }
  }

  &__control-line {
    padding-left: 0.9rem !important;
    gap: 1.5rem !important;

    @include mq(xxl, max) {
      flex-wrap: wrap;
    }

    @include mq(md, max) {
      padding-left: 0 !important;
      gap: 1rem !important;
    }
  }

  &__nav {
    margin-left: 3.2rem;

    .nav__list {
      @include mq(xl, max) {
        flex-direction: row;
        gap: 1rem;
        padding-right: 1.6rem;
        margin-right: -1.6rem;
        padding-left: 1.6rem;
        margin-left: -1.6rem;
        overflow-x: scroll;
        scroll-behavior: smooth;
        transition: var(--transition);
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .nav__item {
      &--active {
        .nav__link {
          color: var(--color-accent);
        }
      }

      @include mq(xl, max) {
        &--active {
          .nav__link {
            background-color: var(--color-accent);
            color: var(--color-white);
          }
        }
      }
    }

    .nav__link {

      @include mq(xl, max) {
        position: relative;
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        line-height: 150%;
        background-color: var(--color-other);
        border-radius: 3rem;
        white-space: nowrap;

        &::after {
          content: none;
          position: absolute;
          left: 1.3rem;
          top: 50%;
          transform: translateY(-50%);
          width: 1.5rem;
          height: 1.8rem;
          background-image: url('../../assets/images/icons/mono/anchor.svg');
          background-size: contain;
          background-repeat: no-repeat;
          filter: brightness(0) invert(1);
        }

        @include mq(xl, max) {
          transition: unset;
        }
      }
    }

    .nav__icon {
      @include mq(xl, max) {
        display: none;
      }
    }

    @include mq(xl, max) {
      margin-left: 0;
    }
  }

  &__main {
    padding-left: 5rem;

    @include mq(xxl, max) {
      padding-left: 2rem;
    }

    @include mq(xl, max) {
      padding-left: 0;
    }
  }

  &__subtitle {
    margin-bottom: 5.2rem;

    @include mq(md, max) {
      margin-bottom: 1.6rem;
    }
  }
}
