.notice {
  &__title {
    margin-bottom: 9.8rem;
    color: var(--color-title);
    font-weight: 550;
    font-size: 2.4rem;
    line-height: 110%;

    @include mq(xl, max) {
      margin-bottom: 5rem;
    }

    @include mq(md, max) {
      margin-bottom: 2rem;
    }
  }

  &__text {
    max-width: 42.3rem;
    margin-bottom: 1.8rem;
    font-size: 1.8rem;
    line-height: 140%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    line-clamp: 6;
    box-orient: vertical;

    @include mq(md, max) {
      max-width: unset;
      font-size: 1.4rem;
      line-height: 150%;
    }
  }

  &__btn {
    font-weight: 550;
    font-size: 2rem;
    line-height: 110%;
    color: var(--color-title);
    cursor: pointer;
    transition: color var(--transition);

    span:last-child {
      display: none;
    }

    @include mq(md, max) {
      font-size: 1.6rem;
      line-height: 110%;
    }

    @include hover {
      color: var(--color-accent);
    }
  }
}
