.breadcrumbs {
  &--light {
    .breadcrumbs__item {
      &::after {
        color: var(--color-white);
      }
    }

    .breadcrumbs__link {
      color: var(--color-white);

      &--active {
        color: var(--color-other);
        pointer-events: none;
      }
    }
  }

  &--pt {
    padding-top: 113px;

    @include mq(xl, max) {
      padding-top: 83px;
      margin-bottom: 30px;
    }

    @include mq(md, max) {
      padding-top: 53px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: '/';
      position: absolute;
      right: -11px;

      font-size: 14px;
      line-height: 150%;
      color: var(--color-title);

      @include mq(sm, max) {
        right: -12px;
        font-size: 16px;
      }
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 140%;
    color: var(--color-title);
    transition: var(--transition);

    @include hover {
      color: var(--color-accent);
    }

    &--active {
      color: var(--color-other);
      pointer-events: none;
    }

    @include mq(sm, max) {
      font-size: 16px;
      white-space: nowrap;
    }
  }
}

._set-dark-colors {
  .breadcrumbs__item {
    &::after {
      color: var(--color-title);
    }
  }

  .breadcrumbs__link {
    color: var(--color-title);

    &:hover{
      color: var(--color-other);
    }

    &--active {
      color: var(--color-other);
      pointer-events: none;
    }
  }
}
