.contacts {
  &--vertical {
    .contacts__list {
      flex-direction: column;
    }

    .contacts__item {
      margin-bottom: 3.1rem;

      &:last-child {
        margin-bottom: 0;
      }

      @include mq(sm, max) {
        margin-bottom: 1.2rem;

        &:last-child {
          margin-bottom: 0;
        }
  
      }
    }
  }

  &--horizontal {
    .contacts__list {
      flex-wrap: wrap;
      column-gap: 4rem;

      @include mq(md, max) {
        flex-wrap: nowrap;
        column-gap: 1.2rem;
      }
    }

    .contacts__link {
      color: var(--color-white);

      @include mq(sm, max) {
        font-size: 1.4rem;
      }

      @include hover {
        color: var(--color-grey-600);
      }
    }
  }

  &--big {
    .contacts__list {
      gap: 2rem;

      @include mq(md, max) {
        align-items: flex-start;
        gap: 2rem;
      }
    }

    .contacts__item {
      gap: 1rem;

      @include mq(md, max) {
        align-items: flex-start;
        gap: 0.8rem;
      }
    }

    .contacts__title {
      font-weight: 550;
      font-size: 2.4rem;
      line-height: 110%;
      color: var(--color-title);

      @include mq(md, max) {
        font-size: 2rem;
      }
    }

    .contacts__link {
      font-size: 2.2rem;
      line-height: 150%;
      color: var(--color-text);

      @include mq(md, max) {
        font-size: 1.6rem;
      }
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;

    @include mq(md, max) {
      align-items: center;
    }

  }

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(md, max) {
      font-size: 1.2rem;
    }

    
    @include mq(sm, max) {
      margin-bottom: 0.7rem;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    font-size: 1.8rem;
    line-height: 140%;
    color: var(--color-title);
    transition: var(--transition);

    @include hover {
      color: var(--color-accent);
    }

    @include mq(md, max) {
      font-size: 1.4rem;
    }
  }
}
