.image-log {
  position: relative;
  display: block;
  width: 48.7rem;
  height: 9rem;

  svg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--color-accent);
    transition: fill .3s ease-in-out;
  }

  a {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    width: 90%;
    height: 70%;
  }

  @include mq(md, max) {
    width: unset;
    height: 4rem;

    svg {
      width: 23.6rem;
    }
  }

  @include mq(custom, max, 360) {
    svg {
      width: 21.5rem;
    }
  }
}

.page-home,
.modal-menu-open,
.page-history {
  .image-log {
    svg {
      fill: var(--color-white);
    }
  }
}

.modal-menu-open {
  ._set-dark-colors {
    .image-log {
      svg {
        fill: var(--color-white)
      }
    }
  }

  @include mq(md, max) {
    .image-log {
      opacity: 0;
      visibility: hidden;
      pointer-events: none
    }
  }
}

.fixed-mobile-header {

  @include mq(sm, max) {
    .image-log {
      opacity: 1 !important;
      visibility: visible !important;
      pointer-events: all !important;

      svg {
        fill: var(--color-accent) !important;
      }
    }
  }
}


._set-dark-colors {
  .image-log {
    svg {
      fill: var(--color-accent)
    }
  }
}

.page-scheme {
  .image-log {
    svg {
      fill: var(--color-white)
    }

    @include mq(sm, max) {
      svg {
        fill: var(--color-accent)
      }
    }
  }
}
